---
layout: default
---
<div id="main-homepage" class="container-fluid">

	{% include navbar.html %}

	<div id="masthead" class="row shadow">
		<div class="black-overlay"></div>
		<div id="site-intro" class="col-md-offset-3 col-md-6 text-center">
			<h1 id="title">
				Rastros
				<img class="footprint" src="{{ site.baseurl }}/assets/images/2patinhas.png" alt="">
			</h1>
			<h3 id="author">por Amanda Ferrari</h3>
			<img src="{{ site.baseurl }}/assets/images/thumbnail.jpg" alt="" class="myphoto img-circle" with="90px" height="90px">
			<p id="description">Não tenho bicicleta nem patins, não tenho carro nem avião, meus pés tem rodinhas que me levam por esse mundo descobrindo coisas, fazendo amigos, sem pressa nenhuma... <br>de voltar a trabalhar!</p>
		</div>
	</div>

	<div id="highlighted-posts" class="row">
		{% for post in site.posts limit:8 %}
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div class="post-call-image shadow" style="background: url({{ site.baseurl }}/assets/images/{{ post.image }}); background-size: cover">
			</div>
			<div class="black-overlay">
				<div class="post-call-text">
					<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					<p>Postado em {{ post.tags | array_to_sentence_string }}</p>
					<p class="text-muted">{{ post.date | date_to_string }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
