---
layout: default
---
<div id="main-homepage" class="container-fluid">

	{% include navbar.html %}

	<div id="masthead" class="row shadow">
		<div class="black-overlay"></div>
		<div id="site-intro" class="col-md-offset-3 col-md-6 text-center">
			<h1 id="title">
				Rastros
				<img class="footprint" src="{{ site.baseurl }}/assets/images/icons/patinhas/2patinhaswhite.png" alt="">
			</h1>
			<h3 id="author">por Amanda Ferrari</h3>
			<img src="{{ site.baseurl }}/assets/images/thumbnails/thumbnail.jpg" alt="" class="myphoto img-circle">
			<p id="description">Não tenho bicicleta nem patins, não tenho carro nem avião, meus pés tem rodinhas que me levam por esse mundo descobrindo coisas, fazendo amigos, sem pressa nenhuma... </p>
		</div>
	</div>

	<div id="highlighted-posts" class="row">
		{% for post in site.posts limit:4 %}
		<div class="highlighted-post col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div class="post-call-image shadow" style="background: url({{ site.baseurl }}/assets/images/photos/posts/{{ post.image }}); background-size: cover">
			</div>
			<div class="black-overlay">
				<div class="post-call-text">
					<a href="{{ site.baseurl }}{{ post.url }}">
					{% if post.small-title %}
					{{ post.small-title }}
					{% else %}
					{{ post.title }}
					{% endif %}
					</a>
					<p>
						<img src="{{ site.baseurl }}/assets/images/blank.png" class="flag flag-{{post.country-code}}" alt="{{post.country}}" />
						&middot;
						{% for tag in post.tags %}
						<a href="{{ site.baseurl }}/travel/tags/#{{ tag }}" class="tag-link">{{ tag }}</a>
						{% endfor %}
					</p>
					<p>{{ post.date | date_to_string }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<script>
	$(document).ready(function() {
		setTimeout(function () {
			$('#site-intro').fadeIn(3000);
			$('.highlighted-post:nth-child(1) .post-call-text').animate({bottom: '5px'}, 1000);
			$('.highlighted-post:nth-child(2) .post-call-text').animate({bottom: '5px'}, 2000);
			$('.highlighted-post:nth-child(3) .post-call-text').animate({bottom: '5px'}, 3000);
			$('.highlighted-post:nth-child(4) .post-call-text').animate({bottom: '5px'}, 4000);
		}, 500);
	});
</script>
