<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="glyphicon glyphicon-align-justify"></span>
    </button>
  </div>
	<div class="row navbar-collapse collapse">
		<div class="col-md-offset-10 col-md-2">
			<ul class="nav navbar-nav navbar-right text-right">
				<li><a href="{{ site.baseurl }}/#">Início</a></li>
				<li><a href="{{ site.baseurl }}/about">Sobre mim</a></li>
				<li><a href="{{ site.baseurl }}/travel">Relatos de viagem</a></li>
				<li><a href="{{ site.baseurl }}/timeline">Linha do tempo</a></li>
				<li><a href="{{ site.baseurl }}/maps">Mapas</a></li>
				<li><a href="{{ site.baseurl }}/contact">Contatos</a></li>
			</ul>
		</div>
	</div>
</nav>
