<ul class="post-list">
	{% for post in site.posts %}
		<li>
			<img src="{{ site.baseurl }}/assets/images/icons/patinhas/1patinha.png" class="patinha img-circle pull-left">
			<p><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></p>
			<p>
				{{ post.date | date_to_string }}
				&middot;
				<img src="{{ site.baseurl }}/assets/images/blank.png" class="flag flag-{{post.country-code}}" alt="{{post.country}}" />
				&middot;
				{% for tag in post.tags %}
				<a href="{{ site.baseurl }}/travel/tags/#{{ tag }}" class="tag-link">{{ tag }}</a>
				{% endfor %}
			</p>
		</li>
	{% endfor%}
</ul>
