---
---

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Bitter", serif;
}

.navbar-default {
	background: none;
	border: 0 !important;
	box-shadow: none;
}
.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
	background-color: rgba(255, 255, 255, 0.2);
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li {
	float: none;
	background-color: rgba(0,0,0,0.9);
	letter-spacing: 0.0625em;
	font-size: 1.3em;
	color: white!important;
	font-family: 'Waiting for the Sunrise', cursive;
	padding-right: 20px;
}

@media (min-width: 768px) {
	.navbar-nav>li {
		background-color: rgba(0,0,0,0.6);
	}
}

.navbar-nav>li>a {
	color: white!important;
}
.navbar-collapse.collapse.in{
  display:block !important;
}

#main-homepage {
	height: 100%;
}

#masthead {
	padding-top: 100px;
	padding-bottom: 30px;
	background: #000 url({{site.baseurl}}/assets/images/masthead.jpg) no-repeat fixed center;
	background-size: cover;
	color: white;
	position: relative;
	min-height: 70%;
}

@media (min-width: 0px) {
	.navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}

#site-intro {
	z-index: 100;
}

#site-intro .footprint {
	width: 60px;
	height: 60px;
	-ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    filter: brightness(0) invert(1);
}

#title {
	font-family: "Bitter", serif;
	font-size: 4em;
	padding-left: 50px;
}

#author {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2em;
}

#description {
	letter-spacing: 0.0625em;
}

.myphoto {
	margin: 10px 0;
}

#description {
	padding: 10px;
	font-size: 1.3em;
}

#highlighted-posts {
	height: 30%;
}

#highlighted-posts .col-md-3 {
	padding: 0 0;
	position: relative;
	height: 100%;
}

.post-call-image {
	display: block;
	width: 100%;
	height: 100%;
}

.black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.light-black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.shadow {
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}

.post-call-text {
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 15px;
    color: white;
}

.post-call-text a {
	color: white;
	font-family: "Bitter", serif;
	text-decoration: underline;
	font-size: 1.5em;
}


#post-header {
	position: relative;
}

.post-image {
	display: block;
	width: 100%;
	height: 400px;
}

.post-title {
	padding-top: 150px;
}

.post-title h1 {
	font-family: "Bitter", serif;
	font-size: 4em;
	color: white;
}

.article {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	padding-top: 20px;
}

.article-meta {
	padding-top: 30px;
	font-family: "Bitter", serif;
	font-size: 1.2em;
}

.post-list p {
	margin: 0 0;
}

.post-list li {
	margin: 10px 0;
}

.timeline {
	color: white;
	min-height: 800px;
	padding-top: 50px;
	padding-right: 50px;
	z-index: 100;
}

.timeline h1 {
	margin-bottom: 50px;
	padding-left: 40px;
}

.timeline ul {
	list-style: none;
}

.timeline li {
	font-size: 1.0em;
}

.timeline li a {
	color: white;
	text-decoration: underline;
	font-family: "Bitter", serif;
	font-size: 1.5em;
}

.recent-posts {
	padding-top: 50px;

}

.recent-posts li {
	margin-bottom: 40px;
}

#travel-post-list {
	background: #000 url({{ site.baseurl }}/assets/images/post1.jpg) no-repeat fixed center;
	background-size: cover;
}

img.patinha {
	background-color: white;
	padding:10px 10px;
	margin-right: 30px;
	width: 50px;
	height: 50px;
}

/*li:nth-child(odd) img.patinha {
	-ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

li:nth-child(even) img.patinha {
	-ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
*/
