---
---

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Bitter", serif;
}

.dark-black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.full-black-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.light-black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.shadow {
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}

{% include css/home.css %}
{% include css/navbar.css %}
{% include css/post.css %}
{% include css/post-list.css %}
{% include css/maps.css %}
{% include css/footer.css %}
{% include css/about.css %}
{% include css/country.css %}

