---
layout: default
title: Amanda's Blog · Mapa
---

<header>{% include navbar.html %}</header>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="{{ site.baseurl }}/assets/images/thumbnail.jpg" alt="" class="myphoto img-circle pull-left" width="50px" height="50px">
        <h1 class="modal-title" id="myModalLabel">Olá pessoal!</h1>
        <img class="footprint" src="{{ site.baseurl }}/assets/images/2patinhas.png" alt="">
      </div>
      <div class="modal-body">
      	<p>
      	Aqui eu vou deixar mais alguns rastros da minha passagem nas cidades desse mapa!
      	</p>
      	<p>Clique nesse <img src="{{ site.baseurl }}/assets/images/patinha-yellow-black.png" alt=""> e se divirtam com minhas pegadas filosóficas!
      	</p>
      </div>
      <div class="modal-footer">
	      <footer class="made-with-love">
			<p class="pull-left">
				Copyleft <span class="copyleft-symbol">&copy;</span> 2017
				&middot;
				Feito com <span class="glyphicon glyphicon-heart"></span> por Chico & Chica
			</p>
		</footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>

<script>
	$(window).load(function(){
	    $('#myModal').modal('show');
	});

	var cities_coordinates = [
		['Sorocaba, Brazil', -23.5015338, -47.45259440000001, 'br' ],
		['Sri Lanka', 7.873053999999999, 80.77179699999999, 'lk'],
		['India', 20.593684, 78.96288000000004, 'in'],
		['Nepal', 28.394857, 84.124008, 'np'],
		['Bhutan', 27.514162, 90.43360099999995, 'bt'],
		['Japan', 36.204824, 138.252924, 'jp'],
		['China', 35.86166, 104.19539699999996, 'ch'],
		['Philippines', 12.879721, 121.77401699999996, 'ph'],
		['Indonesia', -0.789275, 113.92132700000002, 'id'],
		['New Zealand', -40.900557, 174.88597100000004, 'nz'],
		['Australia', -25.274398, 133.77513599999997, 'au'],
		['Namibia', -22.95764, 18.490409999999997, 'na'],
		['Tanzania', -6.369028, 34.888822000000005, 'tz'],
		['Kenya', -0.023559, 37.90619300000003, 'kn'],
		['Ethiopia', 9.145000000000001, 40.48967300000004, 'et'],
		['Egypt', 26.820553, 30.802498000000014, 'eg'],
		['Turkey', 38.963745, 35.243322000000035, 'tk'],
		['Greece', 39.074208, 21.824311999999964, 'ge'],
		['Croatia', 45.1, 15.200000000000045, 'cr'],
		['Serbia', 44.016521, 21.005858999999987, 'sb'],
		['Montenegro', 42.708678, 19.37438999999995, 'me'],
		['Macedonia', 41.608635, 21.745274999999992, 'mk'],
		['Slovenia', 46.151241, 14.995462999999972, 'si'],
		['Bosnia and Herzegovina', 43.915886, 17.67907600000001, 'ba'],
		['Germany',51.165691, 10.451526, 'de'],
		['Spain', 40.463667, -3.74922, 'es'],
		['Canada', 56.130366, -106.346771, 'ca'],
		['United States', 37.09024, -95.71289100000001, 'us'],
		['México', 23.634501, -102.55278399999997, 'mx'],
		['Belize', 17.189877, -88.49765000000002, 'bz'],
		['Cuba', 21.521757, -77.78116699999998, 'cu'],
		['Ecuador', -1.831239, -78.18340599999999, 'ec'],
		['São Paulo, Brazil', -23.5505199, -46.63330939999997, 'br']
	];

	var messages = {};
	{% for location in site.data.timeline %}
	messages['{{ location[0] }}'] = [];
	{% for msg in location[1] %}
	messages['{{ location[0] }}'].push({ date: '{{ msg.date }}', msg: '{{ msg.message }}' });
	{% endfor %}
	{% endfor %}

	function draw_travel_path(map) {
		var icon = {
		    url: '{{ site.baseurl }}/assets/images/patinha-yellow-black.png',
		    scaledSize: new google.maps.Size(40, 49),
		    origin: new google.maps.Point(0,0),
		    anchor: new google.maps.Point(20,45)
		};

		for (let i = 0; i < cities_coordinates.length; ++i) {
			let lat = cities_coordinates[i][1];
			let lng = cities_coordinates[i][2];

			let city = cities_coordinates[i][0];
			let country_code = cities_coordinates[i][3];

			let location_marker = new google.maps.Marker({
				position: { lat: lat, lng: lng },
				icon: icon,
				map: map,
				title: city
			});

			let city_messages = [];
			if (city in messages) {
				city_messages = messages[city];
			}

			let contentString = '<div id="' + city +'" class="timeline-infowindow">'+
			      '<div class="siteNotice">'+
			      '</div>'+
			      '<h1 class="firstHeading">' + city + '</h1>' +
			      '<img src="{{ site.baseurl }}/assets/images/blank.png" class="flag-big flag-' + country_code + '" alt="" />' +
			      '<div class="bodyContent">';
			for (let j = 0; j < city_messages.length; ++j) {
				let date = city_messages[j]['date'];
				let msg = city_messages[j]['msg'];
				contentString += '<div class="message" id="' + city + '#' + j + '"><h3>' + date + '</h3>' +
								 '<p>' + msg + '</p></div>';
			}
			contentString +='</div>'+'</div>';


			let infowindow = new google.maps.InfoWindow({
				content: contentString
			});

			location_marker.addListener('click', function() {
				infowindow.open(map, location_marker);
			});
		}

		for (let i = 1; i < cities_coordinates.length; ++i) {
			let from = { lat: cities_coordinates[i-1][1], lng: cities_coordinates[i-1][2] };
			let to   = { lat: cities_coordinates[i][1],   lng: cities_coordinates[i][2]   };
			let travel_path = new google.maps.Polyline({
				path: [from, to],
				geodesic: false,
				strokeColor: '#f1c40f',
				strokeOpacity: 1.0,
				strokeWeight: 2,
				icons: [{
					icon: {path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW},
					offset: '50%',
					// repeat: '25%'
				}]
	        });
	        travel_path.setMap(map);
		}
	}

	function initMap() {

		var sp = { lat: -23.550520, lng: -46.633309 };
		var map = new google.maps.Map(document.getElementById('map'), {
			center: sp,
			zoom: 2,
			scrollwheel: false,
			styles: [
				  {
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#f5f5f5"
				      }
				    ]
				  },
				  {
				    "elementType": "labels.icon",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#616161"
				      }
				    ]
				  },
				  {
				    "elementType": "labels.text.stroke",
				    "stylers": [
				      {
				        "color": "#f5f5f5"
				      }
				    ]
				  },
				  {
				    "featureType": "administrative.country",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#2880b9"
				      }
				    ]
				  },
				  {
				    "featureType": "administrative.land_parcel",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "featureType": "administrative.land_parcel",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#bdbdbd"
				      }
				    ]
				  },
				  {
				    "featureType": "administrative.neighborhood",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "featureType": "poi",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#eeeeee"
				      }
				    ]
				  },
				  {
				    "featureType": "poi",
				    "elementType": "labels.text",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "featureType": "poi",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#757575"
				      }
				    ]
				  },
				  {
				    "featureType": "poi.park",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#e5e5e5"
				      }
				    ]
				  },
				  {
				    "featureType": "poi.park",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#9e9e9e"
				      }
				    ]
				  },
				  {
				    "featureType": "road",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "featureType": "road",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#ffffff"
				      }
				    ]
				  },
				  {
				    "featureType": "road",
				    "elementType": "labels",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "featureType": "road.arterial",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#757575"
				      }
				    ]
				  },
				  {
				    "featureType": "road.highway",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#dadada"
				      }
				    ]
				  },
				  {
				    "featureType": "road.highway",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#616161"
				      }
				    ]
				  },
				  {
				    "featureType": "road.local",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#9e9e9e"
				      }
				    ]
				  },
				  {
				    "featureType": "transit.line",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#e5e5e5"
				      }
				    ]
				  },
				  {
				    "featureType": "transit.station",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#eeeeee"
				      }
				    ]
				  },
				  {
				    "featureType": "water",
				    "elementType": "geometry",
				    "stylers": [
				      {
				        "color": "#c9c9c9"
				      }
				    ]
				  },
				  {
				    "featureType": "water",
				    "elementType": "geometry.fill",
				    "stylers": [
				      {
				        "color": "#2880b9"
				      }
				    ]
				  },
				  {
				    "featureType": "water",
				    "elementType": "labels.text",
				    "stylers": [
				      {
				        "visibility": "off"
				      }
				    ]
				  },
				  {
				    "featureType": "water",
				    "elementType": "labels.text.fill",
				    "stylers": [
				      {
				        "color": "#9e9e9e"
				      }
				    ]
				  }
				]
		});

		window.setTimeout(draw_travel_path(map), 2000);
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZdrFY6Jw_UlHROPTXiC5urXeAstSojs&callback=initMap" async defer></script>
