#about-me-masthead {
	background: #000 url({{ site.baseurl }}/assets/images/me1.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	color: white;
}

.side-photos {
	height: 33.333vh;
	width: 33.333vh;
	margin: 0;
	padding: 0;
}

#me1 {
	position: relative;
	z-index: 100;
	color: white;
}

#me1 blockquote {
	/*font-family: 'Waiting for the Sunrise', cursive;*/
	font-size: 1.3em;
}

#me2 {
	background: #000 url({{ site.baseurl }}/assets/images/me2.jpg) no-repeat center center;
	background-size: cover;
}

#me3 {
	background: #000 url({{ site.baseurl }}/assets/images/me3.jpg) no-repeat center center;
	background-size: cover;
}

#me4 {
	background: #000 url({{ site.baseurl }}/assets/images/me4.jpg) no-repeat center center;
	background-size: cover;
}

@media (min-width: 769px) {
	#about-me-masthead {
		height: 100vh;
		width: calc(100vw - 33.333vh);
		margin-left: 33.333vh;
	}

	#me1 {
		width: 60%;
		margin: 0 auto;
		padding-top: 30vh;
	}

	#me1 main {
		margin-top: -20px;
		padding-left: 130px;
	}

	#me1 img {
		float: left;
	}

	#me1 h1 {
		margin-bottom: 20px;
	}

	#me1 p {
		font-size: 1.3em;
	}

	#me2 {
		position: fixed;
		top: 0;
		left: 0;
	}

	#me3 {
		position: fixed;
		top: 33.333vh;
		left: 0;
	}

	#me4 {
		position: fixed;
		top: 66.666vh;
		left: 0;
	}

}

@media (max-width: 768px), (orientation: portrait){
	#about-me-masthead {
		width: 100vw;
		height: 100vh;
	}

	.side-photos {
		position: relative;
		width: 100vw;
		height: 100vw;
	}

	#me1 {
		width: 80%;
		margin: 0 auto;
		padding-top: 30vh;
		text-align: center;
	}

	blockquote {
		border: 0;
	}

	#me1 h1 {
		margin-bottom: 20px;
	}

	#me1 p {
		font-size: 1.3em;
	}

}
