#about-me-masthead {
	background: #000 url({{ site.baseurl }}/assets/images/photos/about/me1.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	color: white;
}

#social-icons {
	list-style-type: none;
	padding-left: 25px;
}

#social-icons li {
	display: inline-block;
	padding-right: 15px;
}

#social-icons i {
	font-size: 2em;
	color: white;
}

.side-photos {
	height: 33.333vh;
	width: 33.333vh;
	margin: 0;
	padding: 0;
}

#me1 {
	position: relative;
	z-index: 100;
	color: white;
	padding-top: 30px;
}

#me1 .myphoto {
	width: 70px;
	height: 70px;
}

#me1 blockquote {
	font-size: 1.0em;
}

#me1 h1 {
	font-size: 2.0em;
}

#me2 {
	background: #000 url({{ site.baseurl }}/assets/images/photos/about/me2.jpg) no-repeat center center;
	background-size: cover;
}

#me3 {
	background: #000 url({{ site.baseurl }}/assets/images/photos/about/me3.jpg) no-repeat center center;
	background-size: cover;
}

#me4 {
	background: #000 url({{ site.baseurl }}/assets/images/photos/about/me4.jpg) no-repeat center center;
	background-size: cover;
}

@media (min-width: 769px) {
	#about-me-masthead {
		height: 100vh;
		width: calc(100vw - 33.333vh);
		margin-left: 33.333vh;
	}

	#me1 {
		width: 65%;
		margin: 0 auto;
		padding-top: 30vh;
	}

	#me1 blockquote {
		font-size: 1.3em;
	}

	#me1 .myphoto {
		width: 90px;
		height: 90px;
	}

	#social-icons i {
		font-size: 2.5em;
	}

	#me1 main {
		margin-top: -20px;
		padding-left: 130px;
	}

	#me1 img {
		float: left;
	}

	#me1 h1 {
		margin-bottom: 20px;
		font-size: 3em;
	}

	#me1 p {
		font-size: 1.3em;
	}

	#me2 {
		position: fixed;
		top: 0;
		left: 0;
	}

	#me3 {
		position: fixed;
		top: 33.333vh;
		left: 0;
	}

	#me4 {
		position: fixed;
		top: 66.666vh;
		left: 0;
	}
}

@media (max-width: 768px), (orientation: portrait){
	#about-me-masthead {
		width: 100vw;
		height: 100vh;
	}

	.side-photos {
		position: relative;
		width: 100vw;
		height: 100vw;
	}

	#me1 {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}

	blockquote {
		border: 0;
	}

	#me1 h1 {
		margin-bottom: 20px;
	}

	#me1 p {
		font-size: 1.3em;
	}

}

@media (orientation: landscape) and (max-width: 500px) {
	#me1 {
		width: 90%;
		padding-top: 10px;
	}

	#me1 h1 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	blockquote {
		margin-bottom: 10px;
	}

	#social-icons li {
		padding-right: 25px;
	}

}
