.side-photos {
	height: 33.333vh;
	width: 33.333vh;
	margin: 0;
	padding: 0;
}

#about-me {
	z-index: 100;
	width: 50%;
	margin: 0 auto;
	padding-top: 30vh;
	color: white;
}

#about-me main {
	margin-top: -20px;
	padding-left: 130px;
}

#about-me img {
	float: left;
}

#about-me h1 {
	margin-bottom: 20px;
}

#about-me p {
	font-size: 1.3em;
}

#me1 {
	background: #000 url({{ site.baseurl }}/assets/images/me1.jpg) no-repeat center center;
	background-size: cover;
}

#me2 {
	background: #000 url({{ site.baseurl }}/assets/images/me2.jpg) no-repeat center center;
	background-size: cover;
}

#me3 {
	background: #000 url({{ site.baseurl }}/assets/images/me3.jpg) no-repeat center center;
	background-size: cover;
}

#me4 {
	background: #000 url({{ site.baseurl }}/assets/images/me4.jpg) no-repeat center center;
	background-size: cover;
}

@media (min-width: 769px) {
	#me1 {
		height: 100vh;
		width: calc(100vw - 33.333vh);
		position: fixed;
		top: 0;
		right: 0;
	}

	#me2 {
		position: fixed;
		top: 0;
		left: 0;
	}

	#me3 {
		position: fixed;
		top: 33.333vh;
		left: 0;
	}

	#me4 {
		position: fixed;
		top: 66.666vh;
		left: 0;
	}

}

@media (max-width: 768px) {
	#me1 {
		width: 100vw;
		height: 100vh;
	}

	.side-photos {
		width: 100vw;
		height: 33.333vh;
	}
}
