#flags {
	margin: 0;
	width: 50%;
	background-color: rgba(0,0,0,1);
	min-height: 100vh;
	padding-top: 5%;
	position: fixed;
	top: 0;
	left: 0;
}

#flags img {
	width: calc(50vw/5);
	height: calc(50vw/10);
	margin: 5px;
}

#posts-by-country {
	width: 50.1%;
	background: #000 url({{site.baseurl}}/assets/images/fumacinha.jpg) no-repeat center center;
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;

}

@media (max-width: 980px) {
	#flags {
		display: none;
	}

	#posts-by-country {
		margin: 0 auto;
		width: 100%;

	}
}