.made-with-love {
    display: block;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 1.1em;
    border-top: 1px dotted #2c3e50;
    padding: 10px 10px;
}

.modal-footer > .made-with-love {
    display: none;
}

.made-with-love p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.made-with-love span.glyphicon {
	color: #c0392b;
}

.copyleft-symbol {
    display: inline-block;
    text-align: right;
    margin: 0;
    font-size: 1.0em;
    font-family: sans-serif;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: FlipH;
}

@media (min-width: 768px) {
    .made-with-love p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-footer > .made-with-love {
        display: block;
        font-family: 'Waiting for the Sunrise', cursive;
        font-size: 1.1em;
        border-top: 1px dotted #2c3e50;
        padding: 10px 10px;
    }
}
