#main-homepage {
	height: 100%;
}

#masthead {
	padding-top: 100px;
	padding-bottom: 30px;
	background: #000 url({{site.baseurl}}/assets/images/photos/home/chapada.jpg) no-repeat fixed center;
	background-size: cover;
	color: white;
	position: relative;
	min-height: 70%;
}

#site-intro {
	z-index: 100;
}

#site-intro .footprint {
	width: 60px;
	height: 60px;
	-ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    filter: brightness(0) invert(1);
}

#title {
	font-family: "Bitter", serif;
	font-size: 4em;
	padding-left: 50px;
}

#author {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2em;
}

#description {
	letter-spacing: 0.0625em;
}

.myphoto {
	margin: 10px 0;
}

#description {
	padding: 10px;
	font-size: 1.3em;
}

#highlighted-posts {
	height: 30%;
}

.highlighted-post {
	padding: 0 0;
	position: relative;
	height: 100%;
}

.post-call-image {
	display: block;
	width: 100%;
	height: 100%;
}

.post-call-text {
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 15px;
    color: white;
}

.post-call-text a {
	color: white;
	font-family: "Bitter", serif;
	border-bottom: solid 1px white;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 3rem;
}

.post-call-text a:hover {
	text-decoration: none;
}

.post-call-text a.tag-link {
	font-size: 1.0em;
	font-family: 'Open Sans Condensed', sans-serif;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.highlighted-post:last-child {
		display: none;
	}
}
