#travel-post-list {
	background: #000 url({{ site.baseurl }}/assets/images/photos/sheets/silfra.jpg) no-repeat fixed center;
	background-size: cover;
}

#tags-post-list {
	background: #000 url({{ site.baseurl }}/assets/images/photos/posts/post4.jpg) no-repeat fixed center;
	background-size: cover;
}


.timeline {
	color: white;
	min-height: 100vh;
	z-index: 100;
}

.timeline h1 {
	padding-left: 40px;
}

.timeline ul {
	list-style: none;
	position: relative;
}

.timeline ul.post-list {
	padding-left: 5px;
}

.timeline ul::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 5px;
	width: 2px;
	background-color: white;
	left: 25px;
	z-index: -10;
}

.timeline li {
	font-size: 1.0em;
}

.timeline li a {
	color: white;
	text-decoration: underline;
	font-family: "Bitter", serif;
	font-size: 1.2em;
}

.timeline li a.tag-link {
	font-size: 1.0em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.recent-posts header {
	margin: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.recent-posts header p {
	padding-left: 5px;
}

.recent-posts h1 {
	border-bottom: 1px solid white;
	padding-left: 5px;
	padding-bottom: 20px;
}

.recent-posts main {
	overflow: scroll;
	height: 60vh;
}

.recent-posts li {
	margin-bottom: 40px;
}

.timeline header h1 {
	font-size: 2.0em;
}

.post-list p {
	margin: 0 0;
}

.post-list li {
	margin: 10px 0;
	margin-bottom: 30px;
}

.tag-list {
	margin-bottom: 50px;
}

.tag-list > p {
	margin-left: 40px;
	margin-bottom: 30px;
	padding-left: 5px;
}

.tag {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2.5em;
	margin-left: 40px;
	padding-left: 5px;
}

img.patinha {
	background-color: white;
	padding:10px 10px;
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

@media (min-width: 768px) {
	.timeline li a {
		font-size: 1.2em;
	}

	.timeline li a.tag-link {
		font-size: 1.0em;
		font-family: 'Open Sans Condensed', sans-serif;
	}

	.recent-posts header {
		margin: 40px;
		margin-top: 60px;
		margin-bottom: 20px;
	}

	.timeline ul.post-list {
		padding-left: 40px;
	}

	.timeline ul::before {
		left: 60px;
	}

	img.patinha {
		margin-right: 30px;
	}
}
