#post-header {
	position: relative;
}

.post-image {
	display: block;
	width: 100%;
	height: 400px;
}

.post-image-description {
	position: absolute;
	bottom: 0;
	right: 20px;
	color: white;
	font-style: italic;
	opacity: 0.8;
}

.post-title {
	padding-top: 150px;
}

.post-title h1 {
	font-family: "Bitter", serif;
	font-size: 4em;
	color: white;
}

article.post {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	padding: 20px 0;
}

.post-meta {
	padding-top: 30px;
	font-family: "Bitter", serif;
	font-size: 1.3em;
	color: #2980b9;
}

.post-meta a.tag-link {
	text-decoration: underline;
}

#disqus_thread {
	margin-bottom: 50px;
}

@media (max-width: 380px) {
	.post-title h1 {
		font-size: 3em;
	}

	.post-image-description {
		right: 0;
		left: 0;
		text-align: center;
	}
}