#travel-post-list {
	background: #000 url({{ site.baseurl }}/assets/images/post1.jpg) no-repeat fixed center;
	background-size: cover;
}

.timeline {
	color: white;
	min-height: 100vh;
	padding-right: 50px;
	z-index: 100;
}

.timeline h1 {
	padding-left: 40px;
}

.timeline ul {
	list-style: none;
	position: relative;
}

.timeline ul::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 5px;
	width: 2px;
	background-color: white;
	left: 60px;
	z-index: -10;
}

.timeline li {
	font-size: 1.0em;
}

.timeline li a {
	color: white;
	text-decoration: underline;
	font-family: "Bitter", serif;
	font-size: 1.2em;
}

.timeline li a.tag-link {
	font-size: 1.0em;
	font-family: 'Open Sans Condensed', sans-serif;
}

.recent-posts {
	min-width: 400px;
}

.recent-posts header {
	margin: 40px;
	margin-top: 60px;
}

.recent-posts h1 {
	border-bottom: 1px solid white;
	padding-left: 5px;
	padding-bottom: 20px;
}

.recent-posts main {
	overflow: scroll;
	height: 70vh;
}

.recent-posts li {
	margin-bottom: 40px;
}

.post-list p {
	margin: 0 0;
}

.post-list li {
	margin: 10px 0;
	margin-bottom: 30px;
}

.tag-list {
	margin-bottom: 50px;
}

img.patinha {
	background-color: white;
	padding:10px 10px;
	margin-right: 30px;
	width: 40px;
	height: 40px;
}

/*
li:nth-child(odd) img.patinha {
	-ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

li:nth-child(even) img.patinha {
	-ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
*/
