#post-header {
	position: relative;
}

#post-header figcaption {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 3px 15px;
}

.post-image {
	display: block;
	width: 100%;
	height: 400px;
}

.post-image-description {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: white;
	font-style: italic;
	opacity: 0.8;
}

.post-title {
	padding-top: 30vh;
}

.post-title h1 {
	font-family: "Bitter", serif;
	font-size: 2em;
	color: white;
}

article.post {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5em;
	padding: 20px 0;
}

.post-meta {
	padding-top: 30px;
	font-family: "Bitter", serif;
	font-size: 1.3em;
	color: #2980b9;
}

.post-meta a.tag-link {
	text-decoration: underline;
}

#disqus_thread {
	margin-bottom: 50px;
}

@media (orientation: landscape) {
	.post-image {
		height: 70vh;
	}
}

@media (max-width: 380px) {
	.post-image-description {
		right: 0;
		left: 0;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.post-title {
		padding-top: 150px;
	}
	.post-title h1 {
		font-size: 4em;
	}
}

@media (min-width: 1000px) {
	#rastros-avatar {
		display: none;
	}

	#rastros-marca {
		position: fixed;
		bottom: -8vw;
		left: -7vw;
		width: 22vw;
	}
}

@media (max-width: 1000px) {
	#rastros-avatar {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 60px;
	}

	#rastros-marca {
		display: none;
	}
}
