.timeline-infowindow .bodyContent {
	overflow-y: scroll;
	max-height: 200px;
	max-width: 450px;
	min-width: 350px;
}

.timeline-infowindow h1 {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 2em;
	margin-left: 50px;
	color: #2980b9;
}

.timeline-infowindow img {
	position: absolute;
    top: 15px;
}

.timeline-infowindow .message {
	border-bottom: 1px solid #bdc3c7;
	padding-bottom: 20px;
}

.timeline-infowindow .message:last-child {
	border: none;
}

.timeline-infowindow h3 {
	float: right;
	font-family: "Bitter", serif;
	font-size: 1.2em;
	color: #2980b9;
}

.timeline-infowindow p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.3em;
	clear: both;
	font-weight: bolder;
}

.modal-content {
	/*background-color: #ecf0f1;*/
	color: black;
}

.modal-header h1 {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 3em;
	font-weight: bold;
	margin-left: 70px;
	margin-top: 10px;
	color: #2980b9;
}

.modal-header .footprint {
	width: 50px;
	height: 50px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /*filter: brightness(0) invert(1);*/
    position: absolute;
    top: 20px;
    right: 30px;
}

.modal-body p {
	font-size: 1.3em;
}

.modal-footer .made-with-love {
	border: none!important;
}