---
layout: default
title: Amanda's Blog · Países
---

<header>{% include navbar.html %}</header>

<main>
	<section id="flags">
		<div class="container-fluid">
			<div class="row">
			{% for flag in site.data.country %}
			{% assign posts = site.posts | where: "country", flag[0] %}
				<div class="col-md-3">
					{% if posts.size == 0 %}
					<div class="dark-black-overlay"></div>
					{% endif %}
					<a href="#{{ flag[0] }}" data-toggle="tooltip" data-placement="top" title="{{ flag[0] }}""><img src="{{ site.baseurl }}/assets/images/flags/{{ flag[1] }}" alt="{{ flag[0] }}"></a>
					}
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
	<section id="posts-by-country">
		<div id="country-post-list" class="">
			<div class="light-black-overlay"></div>
			<div class="timeline col-md-offset-1 col-md-10">
				<article class="recent-posts">
					<header>
						<h1>Posts por País</h1>
						{% assign country_total = 0 %}
						{% for country in site.data.country %}
							{% assign posts = site.posts | where: "country", country[0] %}
							{% if posts.size > 0 %}
								{% assign country_total = country_total | plus: 1 %}
							{% endif %}
						{% endfor %}
						<p>{{ site.posts.size }} posts em {{ country_total }} países.</p>
					</header>
					<main>{% include country-list.html %}</main>
				</article>
			</div>
		</div>
	</section>
</main>
