---
---
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>{{page.title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=7">

	<meta property="og:site_name" content="Rastros">
	<meta property="og:title" content="Rastros | Blog da Amanda Ferrari">
	<meta property="og:description" content="Não tenho bicicleta nem patins, não tenho carro nem avião, meus pés tem rodinhas que me levam por esse mundo descobrindo coisas, fazendo amigos, sem pressa nenhuma...">
	<meta property="og:image" content="http://amandaferrari.me/assets/images/rastros/rastros-thumbnail.jpg">
	<meta property="og:url" content="http://amandaferrari.me/">
	<meta property="og:type" content="blog">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/flags.css">

	<!--[if lt IE 9]>
	    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/266cebb7e1.js"></script>
</head>
<body>

	{{content}}

</body>
</html>
