---
layout: default
---

<header>{% include navbar.html %}</header>

<main>

	<header class="container-fluid">
		<div id="post-header" class="row">
			<figure>
				<div class="post-image shadow" style="background: url({{ site.baseurl }}/assets/images/photos/posts/{{ page.image }}) no-repeat center center; background-size: cover">
				</div>
				<figcaption class="post-image-description">{{ page.image-description }}</figcaption>
			</figure>
			<div class="light-black-overlay">
				<div class="post-title">
					<h1 class="text-center">{{ page.title }}</h1>
				</div>
				<footer>
					<a href="{{ site.baseurl }}/#"><img id="rastros-marca" src="{{ site.baseurl }}/assets/images/rastros/rastros-colorida.png" alt=""></a>
					<a href="{{ site.baseurl }}/#"><img id="rastros-avatar" src="{{ site.baseurl }}/assets/images/rastros/avatar.png" alt=""></a>
				</footer>
			</div>
		</div>
	</header>

	<article class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<header class="post-meta text-left">
					<p>
						<img src="{{ site.baseurl }}/assets/images/blank.png" class="flag flag-{{page.country-code}}" alt="{{page.country}}" />
						&middot;
						{% for tag in page.tags %}
						<a href="{{ site.baseurl }}/travel/tags/#{{ tag }}" class="tag-link">{{ tag }}</a>
						{% endfor %}
					</p>
					<p class="text-muted">{{ page.date | date_to_string }}</p>
				</header>
				<article class="post">
					{{content}}
				</article>
				<footer class="text-center">
					<nav class="nav-post">
						<ul class="center-block">
							<li>
							{% if page.next.url %}
								<a href="{{ site.baseurl }}{{ page.next.url }}" data-toggle="tooltip" data-placement="left" title="{{ page.next.title }}"><span class="glyphicon glyphicon-menu-left"></span></a>
							{% else %}
								<span class="glyphicon glyphicon-menu-left text-muted"></span>
							{% endif %}
							</li>
							<li><a href="{{ site.baseurl }}/#">Início</a></li>
							<li><a href="{{ site.baseurl }}/travel">Posts</a></li>
							<li><a href="{{ site.baseurl }}/travel/tags">Tags</a></li>
							<li><a href="{{ site.baseurl }}/maps">Mapas</a></li>
							<li>
							{% if page.previous.url %}
							    <a href="{{ site.baseurl }}{{ page.previous.url }}" data-toggle="tooltip" data-placement="right" title="{{ page.previous.title }}"><span class="glyphicon glyphicon-menu-right"></span></a>
							{% else %}
								<span class="glyphicon glyphicon-menu-right text-muted"></span>
							{% endif %}
							</li>
						</ul>
					</nav>
				</footer>
			</div>
		</div>
	</article>

	<section class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
		{% if page.comments %}
		{% include disqus.html %}
		{% endif %}
		</div>
	</div>
	</section>

	<footer class="container-fluid made-with-love">
		<p class="text-center">
			Copyleft <span class="copyleft-symbol">&copy;</span> 2017
			&middot;
			Feito com <span class="glyphicon glyphicon-heart"></span> por Chico &amp; Chica
		</p>
	</footer>

</main>

<script>
	$(document).ready(function(){
		if ($(this).width() > 500) {
			$('[data-toggle="tooltip"]').tooltip();
	    }
	});
</script>
