---
layout: default
---

<div class="container-fluid">
	{% include navbar.html %}

	<div id="post-header" class="row">
		<div class="post-image shadow" style="background: url({{ site.baseurl }}/assets/images/{{ page.image }}) no-repeat left center; background-size: cover">
		</div>
		<div class="light-black-overlay">
			<div class="post-title">
				<h1 class="text-center">{{page.title}}</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="article-meta text-left">
				<p>Postado em {{ page.tags | array_to_sentence_string }}</p>
				<p class="text-muted">{{ page.date | date_to_string }}</p>
			</div>
			<div class="article">
				{{content}}
			</div>
		</div>
	</div>
</div>
